# Departamento de vendas
- Base de dados: https://www.kaggle.com/c/rossmann-store-sales/data

## Importação das bibliotecas e base de dados

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

### Dados de vendas

In [2]:
stateholiday = {'a': 'feriado público', 'b': 'páscoa', 'c': 'natal', '0': 'nenhum'}

In [3]:
sales_train_df = pd.read_csv('/content/train.csv')
sales_train_df.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [4]:
sales_train_df.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [5]:
sales_train_df.describe()

              Store     DayOfWeek  ...         Promo  SchoolHoliday
count  1.017209e+06  1.017209e+06  ...  1.017209e+06   1.017209e+06
mean   5.584297e+02  3.998341e+00  ...  3.815145e-01   1.786467e-01
std    3.219087e+02  1.997391e+00  ...  4.857586e-01   3.830564e-01
min    1.000000e+00  1.000000e+00  ...  0.000000e+00   0.000000e+00
25%    2.800000e+02  2.000000e+00  ...  0.000000e+00   0.000000e+00
50%    5.580000e+02  4.000000e+00  ...  0.000000e+00   0.000000e+00
75%    8.380000e+02  6.000000e+00  ...  1.000000e+00   0.000000e+00
max    1.115000e+03  7.000000e+00  ...  1.000000e+00   1.000000e+00

[8 rows x 7 columns]

In [6]:
sales_train_df['DayOfWeek'].unique()
#1 = segunda-feira
#7 = domingo

array([5, 4, 3, 2, 1, 7, 6])

In [7]:
sales_train_df['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

### Dados de Lojas

## Exploração de dados

### Dados de vendas

### Dados de lojas

### Dados unidos (vendas + lojas)

## Treinamento do modelo pt1

## Treinamento do modelo pt2